<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/index.css">
	<title> Ibrahim Khalil </title>
</head>

<body class="">
	<%- include("../layout/header") %>
		<%- include("../layout/flash") %>

			<section class="content">
				<div class="container">
					<div class="content-wrapper">
						<div class="introduce">
							<h2> HEY ALL! I'M  </h2>
							<h1><span>IBRAHIM</span> KHALIL </h1><br />
							<h4> Professional FullStack Web Developer </h4>
							<img class="skill-img" src="https://i.postimg.cc/c48Pyk8Y/mern-img.png" alt="my-skills">
							<div class="btn-group">
								<button class="btn btn-secondary"> <a href="/resource/document/cv.pdf" download="">Download CV</a> <span></span></button>
							</div>
						</div>
						<div class="content-img">
							<img src="https://i.postimg.cc/bJhm7Fg3/dark-face.png">
						</div>
					</div>
				</div>
			</section>

			<section id="about-me" class="about-me">
				<div class="container">
					<div class="about-top">
						<h1 class="header-text"><span>About me</span></h1>
					</div>

					<div class="about-wrapper">
						<div class="left">
							<img src="https://i.postimg.cc/6pFybcJT/Profile-Pic-800px.jpg" alt="">
						</div>
						<div class="right">
							<div class="description">
								<p>
									<span>
										I'm passionate about Full-stack Web Development. I specialize in
										Next.js and the MERN stack
									</span> <br />
									Which includes MongoDB, Express.js, React, and Node.js.
									Over the years, I've honed my skills in creating dynamic and responsive web
									applications, with a strong emphasis on writing clean and efficient code. I take
									pride in bridging the gap between front-end and back-end development, and I'm known
									for my meticulous attention to detail. I'm always up-to-date with the latest
									industry trends, and I love tackling complex challenges with innovative solutions.
									My dedication to delivering exceptional user experiences is at the core of my work.
									In the world of web development, I'm enthusiastic, versatile, and committed to
									excellence.
								</p>
							</div>

							<div class="follow_me">
								<p>Follow me on:</p>
								<div class="social">
									<a href="https://facebook.com/ibraa.khalil/" target="_blank"><i class="fab fa-facebook-square"></i></a>
									<a href="https://twitter.com/ibra_khalil5425" target="_blank"><i class="fab fa-twitter-square"></i></a>
									<a href="https://github.com/ibraakhalil" target="_blank"><i class="fab fa-github-square"></i></a>
									<a href="https://www.linkedin.com/in/ibrathekhalil/" target="_blank"><i class="fab fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="education" class="education container">
				<h1 class="header-text"><span>Education & Skills </span> </h1>
				<div class="wrapper">
					<div class="left">
						<div class="timeline-header">
							<i class="fas fa-address-card"></i>
							<h3>Education History</h3>
						</div>
						<div class="timeline">
							<div>
								<h4>2014 - 2016</h4>
								<h5>Higher Secondary</h5>
								<p>Ibn Taimiya School & College</p>
							</div>
							<div>
								<h4>2018 - 2023</h4>
								<h5>Bachelor of Science</h5>
								<p>National University</p>
							</div>
							<div>
								<h4>2022</h4>
								<h5>IT Support Services</h5>
								<p>Noakhali TTC</p>
							</div>
						</div>
					</div>
					<div class="right">
						<div class="skill">
							<div>
								<h5>HTML</h5>
								<div>
									<span data-filter="99">
										<p></p>
									</span>
								</div>
							</div>
							<div>
								<h5>CSS</h5>
								<div>
									<span data-filter="98">
										<p></p>
									</span>
								</div>
							</div>
							<div>
								<h5>REACT JS</h5>
								<div>
									<span data-filter="85">
										<p></p>
									</span>
								</div>
							</div>
							<div>
								<h5>JAVASCRIPT</h5>
								<div>
									<span data-filter="90">
										<p></p>
									</span>
								</div>
							</div>
							<div>
								<h5>NODE JS</h5>
								<div>
									<span data-filter="95">
										<p></p>
									</span>
								</div>
							</div>
							<div>
								<h5>Redux</h5>
								<div>
									<span data-filter="75">
										<p></p>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="service" class="services">
				<div class="container">
					<div class="services-top">
						<h1 class="header-text"><span>My Services</span></h1>
					</div>
					<ul>
						<li>
							<div class="icon">
								<i class="fa fa-object-group"></i>
							</div>
							<h3>Frontend</h3>
							<p>Design and Develop top notch, user-friendly, professional website for your business to
								scale and grow online .</p>
						</li>
						<li>
							<div class="icon">
								<i class="fas fa-users-cog"></i>
							</div>
							<h3>Backend</h3>
							<p>Develop your web backend. I've worked with nodeJS, expressJS, mongoDB. I will develop
								optimized APIs for your website. </p>
						</li>
						<li>
							<div class="icon">
								<i class="fas fa-code"></i>
							</div>
							<h3>MERN Stack</h3>
							<p>MERN stack is a powerful combination of technologies that enable developers to build
								robust, scalable, and modern web applications.</p>
						</li>
						<li>
							<div class="icon">
								<i class="fas fa-registered"></i>
							</div>
							<h3>Redux</h3>
							<p>With Redux, managing the state of your application becomes a predictable and streamlined
								process</p>
						</li>
						<li>
							<div class="icon">
								<i class="fab fa-github"></i>
							</div>
							<h3>Next.js</h3>
							<p>Next.js is an open-source React framework that's used to build modern, server-rendered React applications</p>
						</li>
						<li>
							<div class="icon">
								<i class="fas fa-cog"></i>
							</div>
							<h3>Rest API</h3>
							<p>REST APIs allow developers to create powerful, flexible, and customizable applications
							that can adapt to changing business needs</p>
						</li>
					</ul>
				</div>
			</section>

			<section id="portfolio" class="portfolio">
				<div class="container">
					<div class="portfolio-top">
						<h1 class="header-text"><span>Projects</span></h1>
					</div>
					<div class="portfolio-inner">
						<div class="inner-top">
							<div class="btn-group">
								<button class="btn btn-1">Frontend</button>
								<button class="btn btn-2">FullStack</button>
								<button class="btn btn-3">Javascript</button>
								<button class="btn btn-4">Other</button>
							</div>
						</div>
						<div class="inner-bottom">
							<div class="wrapper">
								<!-- <div class="item">
						<p class="item-name">item 1</p>
						<div class="hover-content">
							<div class="wrapper-2">
								<div class="description">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore doloremque ullam expedita similique totam hic saepe recusandae nesciunt
								</div>
								<button class="btn btn-primary"> Click Here <span></span></button>
							</div>
						</div>
					</div> -->
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="contact" class="contact">
				<div class="container">
					<!-- <h1 class="header-text"><span>Contact Me</span></h1> -->
					<div class="contact-wrapper">
						<div class="left">
							<div class="left-header">
								<h2>Contact Information</h2>
								<p>Are you looking for a full-stack developer in MERN Stack? Please Contact me </p>
							</div>
							<div class="left-info">
								<div>
									<i class="fas fa-map-marker-alt"></i>
									<div class="info">
										<p>Birahimpur, Bosontopur-3864, Noakhali, Bangladesh</p>
									</div>
								</div>
								<div>
									<i class="fas fa-envelope"></i>
									<div class="info">
										<p>ibkhalil5425@gmail.com</p>
										<p>ibrathekhalil@gmail.com</p>
									</div>
								</div>
								<div>
									<i class="fas fa-phone"></i>
									<div class="info">
										<p>+8801747015688</p>
										<p>+8801571761114</p>
									</div>
								</div>
							</div>
						</div>
						<div class="right">
							<h2>Get in Touch</h2>
							<p>Any question or anything to know? Just write a message to me</p>
							<form action="/" method="post">
								<div class="input-wrapper">
									<div>
										<label for="name">Name : </label>
										<div class="input">
											<i class="far fa-user"></i>
											<input type="text" name="name" required>
										</div>
										<div class="error-feedback">
											<p>
												<%= error.name %>
											</p>
										</div>
									</div>
									<div>
										<label for="email">Email : </label>
										<div class="input">
											<i class="far fa-envelope"></i>
											<input type="email" name="email" required>
										</div>
										<div class="error-feedback">
											<p>
												<%= error.email %>
											</p>
										</div>
									</div>
								</div>
								<div class="text-area">
									<label for="message">Message : </label>
									<textarea name="message" id="" cols="30" rows="5"></textarea>
								</div>
								<div class="error-feedback">
									<p>
										<%= error.message %>
									</p>
								</div>
								<div class="btn-2">
									<button class="btn btn-primary">Submit <span></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>

			<%- include("../layout/footer") %>
				<script src="scripts/portfolio_data.js"></script>
				<script src="scripts/indexPage.js"></script>
				<script src="scripts/common.js"></script>
</body>

</html>